.select {
  display: inline-block;
  position: relative;

  .span {
    display: inline-block;
  }

  .input {
    width: 100%;
    cursor: pointer;
  }

  .popup {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1101;
  }

  .popupTop {
    top: auto;
    bottom: 40px;
  }
}

.icon {
  color: rgba($color: #000000, $alpha: .25);
  transition: transform .3s;
}

.iconActive {
  transform: rotate(-180deg);
}